.header {
  background: #0a66c2;
  height: 10vh;
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .title {
  font-size: 1.5rem;
  color: #fff;
}

@media (min-width: 768px) {
  .header .title {
    font-size: 1.75rem;
  }
}

@media (min-width: 1024px) {
  .header .title {
    font-size: 2rem;
  }
}

@media (min-width: 1440px) {
  .header .title {
    font-size: 2.5rem;
  }
}

@media (min-width: 2560px) {
  .header .title {
    font-size: 5rem;
  }
}
