.table {
  width: 100%;
  background: #fff;
  padding: 1rem 0.5rem;
  box-shadow: 0px 0px 5px #cccc;
  border-radius: 10px;
}

.table th {
  padding: 0.25rem 0;
  font-weight: 500;
  width: 25%;
  font-size: 0.75rem;
}

.table tr {
  text-align: center;
  height: 2rem;
}

.table tr td {
  text-align: center;
  font-size: 0.5rem;
  padding: 0.5rem;
  font-weight: 700;
}

.table .expense {
  color: red;
  font-weight: 700;
}

.table .noExpense {
  color: green;
  font-weight: 700;
}

@media (min-width: 768px) {
  .table th {
    font-size: 1.25rem;
  }

  .table tr td {
    font-size: 0.75rem;
    padding: 0 0.75rem;
  }
}

@media (min-width: 1024px) {
  .table th {
    font-size: 1.25rem;
  }

  .table tr td {
    font-size: 1rem;
    padding: 0.75rem;
  }
}

@media (min-width: 1440px) {
  .table th {
    font-size: 1.5rem;
  }

  .table tr td {
    font-size: 1.25rem;
  }
}
