* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  list-style: none;
}

body {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  margin: auto;
  height: 100%;
  max-width: 1200px;
  background: #0a66c2;
}
